<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>EZESOL</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
</head>
<body style="margin:0; background-color: #262626" ng-controller="MasterCtrl">
<table class="backdrop" style="background-size: 100% 173px; background-repeat: no-repeat; width:100%; border-spacing: 0px;">
  <tr>
    <td></td>
    <td style="border:0; height:140px; width:975px" colspan="7">
      <img src="<%= image_url('logo.png') %>" style="position:relative;" />
    </td>
    <td colspan="2">
      <div ng-repeat="option in ['<%= @login ? "Sign Out" : "Register" %>','<%= @login ? @login["login"] : "Sign In" %>']" class="logins" id="logger{{$index+1}}" ng-click="<%= @login ? 'regLog($index+3)' : 'regLog($index+1)' %>">
        {{option}}
      </div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class='tabs'
        ng-style="{'background-color':($first ? 'gray' : '#262626'),visibility:($odd ? 'hidden' : 'visible'), width: ($odd ? '.5em' : '140px')}"
        ng-repeat="tab in ['Dashboard','1', 'Lessons','2','Training','3','Test','4','Community']"
        ng-click="focusTab($event)"
        name="{{tab}}">
      {{tab}}
    </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="11">
      <table style="width:100%; height:100%; border-spacing: 0px">
        <tr>
          <td></td>
          <td style="border: solid white 10px; width:960px; height:1000px; background-color: #ffffff; font-size: 1.3em; font-family: 'Arial';">
            <%= yield %>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>